cachetools==4.1.0
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
click==7.1.2
cryptography==2.9.2
Flask==1.1.2
google-api-core==1.17.0
google-api-python-client==1.8.3
google-auth==1.15.0
google-auth-httplib2==0.0.3
googleapis-common-protos==1.51.0
gunicorn==20.0.4
httplib2==0.18.1
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
oauth2client==4.1.3
protobuf==3.12.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyDrive2 @ git+https://github.com/RohanDebroy/PyDrive2.git@9c7d48b12bbb3e982558880dc814e217d2f18e81
pyOpenSSL==19.1.0
pySmartDL==1.3.3
pytz==2020.1
PyYAML==5.3.1
redis==3.5.2
requests==2.23.0
rq==1.4.1
rsa==4.0
six==1.15.0
tqdm==4.46.0
uritemplate==3.0.1
urllib3==1.25.9
Werkzeug==1.0.1
setuptools>=40.3.0